<div class="header">
  <h1>Questions ask</h1>
  </div>
<p>Ask something to the coach</p>
<form action="/answer" class="form">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
