// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
}

.banner {
  background: red;
  display: flex;
  h1 {
    font-size: 50px;
    text-align: right;
  }
}

a {
  color: grey;
  &:hover {
    color: black;
  }
}

.header {
  font-size: 25px;
  text-align: center;
}

p {
  font-size: 25px;
  text-align: center;
}

.form {
  text-align: center;
}
